<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 ">
      <div class="mb-5">
        <h1>Find and Reserve Stadiums Online</h1>
        <p class="lead">This website allows you to reserve a football match in two ways:
        <span>
          <ul class="mt-3">
            <li class="mb-2"> <b> If you already have two teams: </b> You can reserve your match directly.</li>
            <li> <b> If you don't have a second team: </b> You can reserve the match and wait for another team to join.</li>
          </ul>
        </span>
        </p>
      </div>
      <div class="text-center">
        <a routerLink="reservation" class="btn btn-light border-dark btn-lg me-5"> You Are Complete </a>
        <a href="#" class="btn btn-dark btn-lg"> You Need A Team </a>
      </div>
    </div>

    <div class="col-lg-6 text-center">
      <img src="assets/football-player10.jpg" class="img-fluid " alt="Stadium Image" style="height: 81%;">
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2024 Stadium Reservation App. All rights reserved.</span>
  </div>
</footer>




