
<div class="card m-auto">
  <div class="card-header">
    <div class="modal-header">
      <h5 class="modal-title">Reserve a Match</h5>
    </div>
  </div>
  <div class="card-body">
      <form action="" method="POST" id="form" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title">Add Product</h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">name <span class="text-danger">*</span></label>
            <input  type="text" class="form-control" name="name" id="name"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Description <span class="text-danger">*</span></label>
            <textarea class="form-control" name="description" id="description"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">image <span class="text-danger">*</span></label>
            <input type="file" class="form-control" id="inputGroupFile04" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
          </div>
          <div class="mb-3">
            <label class="form-label">Status <span class="text-danger">*</span></label>
            <select class="@error('status') error-border @enderror form-control" name="status_id" id="status">
              <option value="1">select the status of this product</option>
              <option value=1>namehere</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Category <span class="text-danger">*</span></label>
            <select class="form-control" name="category_id" id="category">
              <option value="">choose the category</option>
              <option value="1">naehere</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Your Location <span class="text-danger">*</span></label>
            <select class="form-control" name="location_id" id="location">
              <option value=""> What is your location ?</option>
              <option value="1">namehere</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-white" data-bs-dismiss="modal">Cancel</a>
          <button type="submit" name="save"   class="btn btn-primary" id="save-btn">Save</button>
        </div>
      </form>
    </div>
  </div>
