<div class="container">
  <h2>Stadium List</h2>
  <div class="row">

    <div class="col-md-4 mb-3" *ngFor="let stadium of stadiumList">
      <div class="card ">
        <img [src]="stadium.stadiumImage" class="card-img-top fixed-size-image" alt="Stadium Image">
        <div class="card-body">
          <h5 class="card-title">{{ stadium.stadeName }}</h5>
          <p class="card-text">{{ stadium.price }} $</p>
          <p class="card-text">{{ stadium.teamType }}</p>
            <a routerLink="/complete/{{stadium.id}}" class="btn btn-success border-dark "> Reserve </a>
            <a routerLink="/nonComplete" class="btn btn-light float-end "> Details </a>
        </div>
      </div>
    </div>

  </div>
</div>
